<% provide :title, "問題3" %>
<div class="etc">
  <div>Q3-TEST1</div>
</div>
<div class="etc">
  <div>Q3-TEST2</div>
</div>
<div class="etc">
  <div>Q3-TEST3</div>
</div>
<div>
  <div>Q3-TEST4</div>
</div>
